/* add CSS class and element and selectors here */
@import url('https://fonts.googleapis.com/css?family=Spirax');
body {
      background-color: lightblue;
      color:blue
      font-family: Spirax
    }
#title-section {font-size:200%;}

.info-section {font-family: Spirax;}
